# Banco de dados (PostgreSQL)
DB_USER=postgres
DB_PASS=postgres
DB_HOST=host.docker.internal
DB_NAME=biblia
APP_PORT=8087

# Busca vetorial (pgvector)
HNSW_EF_SEARCH=64

# Configurações de Busca Semântica (Serafim 900m)
# O modelo será baixado automaticamente na primeira execução e executado localmente via sentence-transformers.
# Modelo: PORTULAN/serafim-900m-portuguese-pt-sentence-encoder-ir